
#title{
  color:#1DB954;
  font-family: sans-serif;
  font-size: 45px;
  text-align: center;
}
#logo {
  vertical-align: middle;
  display: inline-block;
  max-width: 50px;
  padding-left: 10px;
}
#trackNameInput {
  margin: auto;
}
#submit {
  background-color:#1DB954;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  border-radius: 6px;
}
#submit-div {
  text-align: center;
}
#searchTrack {
  text-align: center;
}
